body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  color: #ededed;
}

* {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.visible {
  animation: fadein 1s forwards;
}

a, a:visited {
 color: #67d07a; 
}

strong, b {
  color: #67d07a;
}

a:hover {
  color: #a6e0b1;
}

.container {
  padding: 5px 0 0 0;
}

/* Header-component */
#siteheader {
  margin: 0;
  padding: 0 1em 0 1em;
  width: 100%;
  height: 75px;
  background: #141414;
  top: 0;
  text-align: left;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  order: 0;
  width: 200px;
  padding-bottom: 0.75em;
  text-align: center;
}

#logo h1, #logo h1:visited {
  font-family: 'Coves Bold';
  font-size: 2em;
  color: #67d07a;
  font-weight: bolder;
  border-bottom: 1px solid #fff;
  margin: 0;
  text-transform: lowercase;
}

#logo h1:hover {
  border-bottom: 1px solid #67d07a;
}

#logo h2, #logo h2:hover, #logo h2:visited {
  font-family: 'Coves Bold';
  font-size: 1.4em;
  color: #fff;
  letter-spacing: 0.3em;
  text-align: center;
  font-weight: bolder;
  margin: 0 0 0 3px;
  text-transform: uppercase;
}

#logo a, #logo a:hover, #logo a:visited {
  text-decoration: none;
}

/* Content-component */
#contentbg {
  background: url(/public/bg.png) #2A2A2A;
  background-position: center 50px;
  background-repeat: repeat-x;
  min-height: 500px;
  width: 100%;
}

.maincontainer {
  text-align: left;
}

#maincontent {
  width: 50%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* PortfolioPost-component */
.postheading {
  color:#67d07a;
  font-family: 'Coves Light';
  text-shadow:2px 2px 2px rgba(0, 0, 0, .4);
  font-size: 2em;
  line-height: 0.5em;
  margin-bottom: 0.1em;
}

.postcontent {
  display: flex;
  margin-bottom: 8em;
}

.posttext {
  min-width: 75%;
}

.imgleft {
  order: 0;
  margin-left: -25%;
  margin-right: 1em;
}

.imgright {
  order: 1;
  margin-right: -25%;
  margin-left: 1em;
}

.postcontent img {
  display: block;
  border: 1px solid rgba(0,0,0,.4);
  max-width: 45%;
  object-fit: cover;
  height: auto;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.projectinfo {
  background: rgb(0,0,0,.4);
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #67d07a;
  border-top: 1px solid #67d07a;
  margin: 0 0 1em 0;
}

.teamsize {
  display: inline-block;
  background-position-y: center;
  vertical-align: middle;
  background-image: url('/public/icons/teamsize.png');
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 2em;
}

.stackinfo, .languageinfo { 
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}

.stackinfo {
  background-image: url('/public/icons/stack.png');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 1.5em;
}

.languageinfo {
  background-image: url('/public/icons/languageicon.png');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 2em;
}

.stackinfo li, .languageinfo li {
  display: inline;
}

.stackinfo li:after, .languageinfo li:after {
  content: ', ';
}

.stackinfo li:last-child:after, .languageinfo li:last-child:after {
  content: '';
}

/* Info-component */
#infocontent {
  padding: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#infocontent h2 {
  margin-top: -1em;
  margin-bottom: 0.5em;
  font: 2.5em 'Coves Light';
  color: #67d07a;
}

#infocontainer {
  display: flex;
  border-bottom: 1px solid #67d07a;
  padding-bottom: 20px;
}

#infocontainer h3 {
  font: 2em 'Coves Light';
  margin-bottom: 0;
  color: #67d07a;
}

#infocontainer h4 {
  font: 1.75em 'Coves Light';
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
  color: #67d07a;
}

#sideinfo {
  width: 20%;
}

#aboutme {
  margin-top: -40px;
  width: 80%;
}

#infoimage {
  width:60%;
  height: auto;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  border: 3px solid #67d07a;
  pointer-events: none;
}

.portfoliolinks {
  margin: 0;
  padding: 0;
}

.portfoliolinks li {
  display: block;
  padding-top: 5px;
  padding-left: 45px;
  padding-bottom: 0;
  margin: 5px auto 5px auto;
  width : 30%;
  text-align: left;
  height: 25px;
  color: #ededed;
  background-color: #636363;
  border-radius: 8px;
}

.link-github {
  background: url('/public/icons/github-grey.png') no-repeat 10px; 
  background-size: 24px;
}

.link-gitlab {
    background: url('/public/icons/gitlab-grey.png') no-repeat 10px; 
    background-size: 24px;
}

.link-linkedin {
  background: url('/public/icons/linkedin-grey.png') no-repeat 10px; 
  background-size: 24px;
}

.portfoliolinks li:hover {
  background-color:#67d07a;
}

.portfoliolinks a, .portfoliolinks a:visited {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #141414;
  vertical-align: center;
  text-decoration: none;
}

.portfoliolinks li a:hover {
  color:#262626;
}

#profskills, #langskills {
  color:#67d07a;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}
#profskills ul, #langskills ul {
  color:#ededed;
  font-weight: normal;
  list-style: inside;
  padding-left: 1.5em;
  list-style-type: none;
  margin-bottom: 10px;
}

.aboutmecard {
  padding-bottom: 5px;
  border-bottom: 1px solid #262626;
}

.degreeCard {
  padding-left: 30px;
}

.degreeCard header p {
  line-height: 0.25em;
  color: #67d07a;
  font-weight: bold;
}

.degreeCard header {
  display: block;
  background: #262626;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 1em;
}

/* Footer-component */
#mainfooter {
  height: 8em;
  padding: 30px 0 0 0;
  display: block;
  text-align: center;
}

#mainfooter a:visited {
  text-decoration: none;
}

/* Navigation */

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.menu-items {
  order: 1;
  margin-right: 5em;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #67d07a;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #a6e0b1;
  transition: color 0.3s ease-in-out;
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Fonts */
@font-face {
  font-family: 'Coves Bold';
  src: url('/public/Coves Bold.otf');
}

@font-face {
  font-family: 'Coves Light';
  src: url('/public/Coves Light.otf');
}

/* Responsive styling */
@media screen and (max-width: 1400px) {
  #infocontainer {
    flex-direction: column;
  }
  #aboutme {
    width: 100%;
    order:0;
  }
  #sideinfo {
    width: 100%;
    order:1;
  }
  .postcontent {
    flex-direction: column;
  }
  .imgleft, .imgright {
    order: 0;
  }
  #maincontent {
    width: 90%;
  }
  #infoimage {
    width: 50%;
  }
  .postcontent img {
    min-width: 300px;
    margin: 10px auto 10px auto;
  }
}
@media screen and (max-width: 860px) {
  #logo h1 {
    font-size: 1.6em;
  }
  #logo h2 {
    font-size: 1em;
  }
  .postheading {
    line-height: 1em;
  }
  .degreeCard header p {
    line-height: 1em;
  }
  .stackinfo, .teamsize {
    margin-left: 0;
  }
  .languageinfo {
    margin-right: 15px;
  }
  #mainfooter {
    width: 90%;
  }
}