body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(38, 38, 38);
  color: #ededed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  margin: 0;
  padding-left: 15px;
  width: 100%;
  height: 75px;
  background: rgb(20,20,20);
  top: 0;
  text-align: left;
  position: fixed;
  z-index: 4;
}

#maincontainer {
  margin:40px 0 0 0;
  text-align: center;
}

#portfoliolinks {
  margin: 0;
  padding: 0;
}

#portfoliolinks li {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  width : 200px;
  height: 40px;
  background-color: #636363;
  border-radius: 8px;
}

#portfoliolinks a {
  padding-top: 5px;
  color: #ededed;
}

.container {
  padding: 15px 0 0 0;
}
.container h1 {
  font-family: 'Gotham Narrow Ultra';
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}

/* Hamburger menu */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: #f7f7f7;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: #f7f7f7;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #f7f7f7;
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 35px;
  right: 35px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f7f7f7;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  text-align: left;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #00000050;
  box-shadow: 2px 0 6px 2px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 2;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ededed;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #444444;
}
.menu__item:visited, .menu__item:hover, .menu__item:visited:hover {
  color: #ededed;
}